[Desktop Entry]
Name=Info Viewer
Name[sv]=Infovisare
Name[de]=Info-Viewer
Type=Application
Comment=GNU Info Page Reader
Comment[sv]=GNU Info-sidläsare
Comment[de]=GNU Info-Seiten-Viewer
Exec=info
Terminal=true
