.patched-*
*.o
a.out
binary-package
binary7-package
binary7-package-32bit
linux-build
linux-package
amiga-build
amiga-package
gcc-4.6.4
gcc-4.6.4-peylow
gcc-7.4.0
/binutils-*
bla*
gcc-build
gcc-build4
gcc-build7
gcc-atari
pkgs
BUILD/
BUILDROOT/
RPMS/
SRPMS/
SOURCES/
OTHER/
alien/
patches/dhcping/
todo/net-1.04/
todo/s/dhcp-3.1.ESV-1.src.rpm
www/sparemint
