.patched-*
*.o
a.out
binary-package
binary7-package
linux-build
linux-package
gcc-4.6.4
gcc-4.6.4-peylow
binutils-2.28
binutils-2.28.orig
binutils-2.29
binutils-2.29.orig
binutils-2.29.1
binutils-2.29.1.orig
binutils-2.21.1
binutils-2.21.1.orig
bla*
binutils-build
gcc-build
pkgs
