body {
	background-color: #ffffff;
	background-image: url("images/bg_stars.jpg");
	color: #FFFF00;
	link-color: #80FF00;
}
a:link, a:visited {
	color: #80FF00;
	text-decoration: underline;
}
tr {
  margin:0;
  padding:0;
}
td {
  margin:0;
  padding:0 0 0 10px;
}
p {
  margin:0;
  padding:0;
}
.archive {
  white-space: nowrap;
}
.icon {
  width: 40px;
}

.linkdesc {
  text-align: right;
  white-space: nowrap;
  width: 40px;
}

.sourcelink {
  width: 200px;
  text-align: left;
  padding:0 0 0 0px;
}

.error {
  color: #FF0000;
}

.important {
  color: #FF0000;
}
