body {
	background-color: #ffffff;
	background-image: url("images/bg_stars.jpg");
	color: #FFFF00;
	link-color: #80FF00;
}
a:link, a:visited {
	color: #80FF00;
	text-decoration: underline;
}
tr {
  margin:0;
  padding:0;
}
td {
  margin:0;
  padding:0 0 0 10px;
}
p {
  margin:0;
  padding:0;
}
.archive {
  white-space: nowrap;
}
.icon {
  width: 40px;
}
.smallicon {
  width: 20px;
  display: inline;
  background-color: #ffffff;
  flex-wrap: nowrap;
}

.linkdesc {
  text-align: right;
  white-space: nowrap;
  width: 40px;
}

.sourcelink {
  width: 200px;
  text-align: left;
  padding:0 0 0 0px;
}

.error {
  color: #FF0000;
}

.important {
  color: #FF0000;
}

pre.wiki {
 background: #202020;
 border: 1px solid #d7d7d7;
 margin: 1em 1.75em;
 padding: .25em;
 overflow: auto;
}


