diff -ru /usr/m68k-atari-mint/sys-root/usr/include/c++/8/m68k-atari-mint/bits/c++config.h ./m68k-atari-mint/bits/c++config.h
--- /usr/m68k-atari-mint/sys-root/usr/include/c++/8/m68k-atari-mint/bits/c++config.h	2019-02-25 18:58:19.678163253 +0100
+++ ./m68k-atari-mint/bits/c++config.h	2019-03-22 13:58:20.491776839 +0100
@@ -754,7 +754,7 @@
 /* #undef _GLIBCXX_HAVE_EXPL */
 
 /* Define to 1 if you have the `fabsf' function. */
-/* #undef _GLIBCXX_HAVE_FABSF */
+#define _GLIBCXX_HAVE_FABSF 1
 
 /* Define to 1 if you have the `fabsl' function. */
 /* #undef _GLIBCXX_HAVE_FABSL */
@@ -769,10 +769,10 @@
 #define _GLIBCXX_HAVE_FINITE 1
 
 /* Define to 1 if you have the `finitef' function. */
-#define _GLIBCXX_HAVE_FINITEF 1
+/* #undef _GLIBCXX_HAVE_FINITEF */
 
 /* Define to 1 if you have the `finitel' function. */
-#define _GLIBCXX_HAVE_FINITEL 1
+/* #undef _GLIBCXX_HAVE_FINITEL */
 
 /* Define to 1 if you have the <float.h> header file. */
 #define _GLIBCXX_HAVE_FLOAT_H 1
@@ -838,19 +838,19 @@
 #define _GLIBCXX_HAVE_ISINF 1
 
 /* Define to 1 if you have the `isinff' function. */
-#define _GLIBCXX_HAVE_ISINFF 1
+/* #undef _GLIBCXX_HAVE_ISINFF */
 
 /* Define to 1 if you have the `isinfl' function. */
-#define _GLIBCXX_HAVE_ISINFL 1
+/* #undef _GLIBCXX_HAVE_ISINFL */
 
 /* Define to 1 if you have the `isnan' function. */
 #define _GLIBCXX_HAVE_ISNAN 1
 
 /* Define to 1 if you have the `isnanf' function. */
-#define _GLIBCXX_HAVE_ISNANF 1
+/* #undef _GLIBCXX_HAVE_ISNANF */
 
 /* Define to 1 if you have the `isnanl' function. */
-#define _GLIBCXX_HAVE_ISNANL 1
+/* #undef _GLIBCXX_HAVE_ISNANL */
 
 /* Defined if iswblank exists. */
 #define _GLIBCXX_HAVE_ISWBLANK 1
@@ -934,10 +934,10 @@
 /* #undef _GLIBCXX_HAVE_NAN_H */
 
 /* Define if <math.h> defines obsolete isinf function. */
-/* #undef _GLIBCXX_HAVE_OBSOLETE_ISINF */
+#define _GLIBCXX_HAVE_OBSOLETE_ISINF 1
 
 /* Define if <math.h> defines obsolete isnan function. */
-/* #undef _GLIBCXX_HAVE_OBSOLETE_ISNAN */
+#define _GLIBCXX_HAVE_OBSOLETE_ISNAN 1
 
 /* Define if poll is available in <poll.h>. */
 #define _GLIBCXX_HAVE_POLL 1
0000058e t .L32
000004d8 t .LC0
         U ___addxf3
         U ___divxf3
         U ___eqxf2
         U ___extenddfxf2
         U ___mulxf3
         U ___truncxfdf2
         U _acos
00000058 W _acosl
         U _asin
000000b4 W _asinl
         U _atan
         U _atan2
0000016c W _atan2l
00000110 W _atanl
         U _ceil
000001de W _ceill
         U _cos
         U _cosh
00000296 W _coshl
0000023a W _cosl
         U _exp
000002f2 W _expl
00000000 W _fabsl
         U _floor
0000034e W _floorl
         U _fmod
000003aa W _fmodl
         U _frexp
0000041c W _frexpl
000004e4 W _hypotl
         U _ldexp
000006a6 W _ldexpl
         U _log
         U _log10
00000762 W _log10l
00000706 W _logl
         U _modf
000007be W _modfl
         U _pow
0000084e W _powl
         U _sin
         U _sinh
0000091c W _sinhl
000008c0 W _sinl
         U _sqrt
0000047c W _sqrtl
         U _tan
         U _tanh
000009d4 W _tanhl
00000978 W _tanl
