[Desktop Entry]
Name=xpdf
Name[sv]=xpdf
Comment=Views Adobe PDF (acrobat) files
Comment[sv]=Visar Adobe PDF-filer (acrobat-filer)
Exec=xpdf
Terminal=0
Type=Application
Icon=acroread.png
MimeType=application/pdf
